{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'addmoney.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>
	 Add expense
    </title>
    </head>

<body lang=en;>

<div id="layoutAuthentication">
<div id="layoutAuthentication_content">
    <form method="post" action="/addmoney_submission/">
        <hr color="#006699" noshade size=1 width="90%">
          <h1>ADD EXPENSE</h1>
            {% csrf_token %}

            <label>What do you want to add?</label> <br />
        <div class="jezyki">
                <label class="form-check-label" for="add_money">
                    <input class="form-check-input" type="radio" name="add_money" id="add_money" value="Expense" checked required>
                    Expense
                </label>
                <label class="form-check-label" for="add_money">
                    <input class="form-check-input" type="radio" name="add_money" id="add_money" value="Income" checked required>
                    Income
                </label>
        </div><br>

        <div class="dane">
                <label for="quantity">Amount:</label><br>
                <input type="number" name="quantity" required><br>
        </div>

        <label> Select category</label> <br />
        <div class="jezyki">
                <select class="Category" name="Category" required><br>
                  <option value="Food">Food</option>
                  <option value="Travel">Travel</option>
                  <option value="Shopping">shopping</option>
                    <option value="Necessities">Necessities</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Others">Others</option>
                </select><br><br>
            </div>

        <div class="dane">
                <label for="date">Date:</label><br>
              <input type="date" name="Date" placeholder="Expense Date" required><br>
        </div>

        <div class="dane">
            <label> Notes </label>
          <textarea type="text" name="message" placeholder="Notatki ewentualnie do dodania..." rows="6"></textarea>
        </div>

        <div class="btn">
            <button type="submit" href='/addmoney'>Submit</button>
        </div>
          <hr color="#006699" noshade size=1 width="90%">
      </form>
</div>
</div>
</body>
</html>
