html {
	height: 100%;
	font-family: "Helvetica Neue", monospace;
}

body {
	display: flex;
	justify-content: center;
	padding: 50px;
	background: linear-gradient(to top right, #336699 0%, #993399 100%);
	background-size: 100%;
	background-attachment: fixed;
  }

      h1 {
      	font-family: 'Raleway', sans-serif;
      	color: black;
      	text-align: center;
      	font-size: 40px;
      	letter-spacing: 4px;
      	line-height: 3.5 font-weight: 700;
      }

      form {
      	padding: 50px;
      	width: 550px;
      	border-radius: 20px;
      	background: #fff;
      }

      input::placeholder,
      textarea::placeholder {
      	color: #666;
      	font-family: 'Raleway', sans-serif;
      	font-size: 15px;
      	font-weight: 300;
      }

      input:hover,
      textarea:hover {
      	box-shadow: 0 0 20px 0 #ff66ff;
      }

      .dane {
      	display: flex;
      	flex-wrap: wrap;
      	justify-content: center;
      }

      .jezyki {
      	justify-content: right;
      	margin-left: 10%;
      	font-size: 15px;
      }

      #name1 {
      	float: left;
      	width: 44%;
      }

      #name2 {
      	float: left;
      	width: 44%;
      }

      .dane input,
      textarea {
      	display: block;
      	width: 80%;
      	padding: 10px;
      	margin: 20px auto 20px auto;
      	border: none;
      	border-radius: 10px;
      	background: #d0dfe8;
      	font-size: 15px;
      }

      .dane input {
      	height: 20px;
      	margin-top: 0px;
      }

      button {
      	background: linear-gradient(to right, #00ffff 0%, #ff66ff 100%);
      	width: 30%;
      	padding: 10px;
      	display: block;
      	margin: 25px auto 25px auto;
      	border-radius: 20px;
      	border: none;
      	font-family: 'Raleway', sans-serif;
      	font-size: 20px;
      	font-weight: 600;
      	color: white;
      }

      button:hover {
      	box-shadow: 0 0 20px 0 #ff66ff;
      	color: #006699;
      	background: linear-gradient(to right, #66ffff 0%, #ff99ff 100%);
      }

      p {
      	font-family: 'Montserrat', sans-serif;
      	margin-left: 30px;
      }

      label {
      	font-family: 'Montserrat', sans-serif;
      	line-height: 2;
      }

      a:link {
      	color: black;
      	text-decoration: none;
      }

      a:hover {
      	text-decoration: underline;
      }
