body, html {
    height: 100%;
  font-family: "Helvetica Neue", monospace;
  line-height: 2;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  * {
	box-sizing: border-box;
  }
  .h1{
	  color: darkgreen;
  }
  .bg-image {
	  display: flex;
	  justify-content: center;
	  background: linear-gradient(to top right, #336699 0%, #993399 100%);
	  background-attachment: fixed;

	/* Add the blur effect */
	filter: blur(8px);
	-webkit-filter: blur(8px);

	/* Full height */
	height: 100%;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;

  border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
	  line-height: 1.5em;}

  
  .btnn button{
      	background: linear-gradient(to right, #00ffff 0%, #ff66ff 100%);
      	width: 20%;
      	padding: 15px;
      	display: block;
      	margin: 25px auto 25px auto;
      	border-radius: 20px;
      	border: none;
      	font-family: 'Raleway', sans-serif;
      	font-size: 20px;
      	font-weight: 600;
      	color: white;

  }

  .btnn button:hover{
      box-shadow: 0 0 20px 0 #ff66ff;
      	background: linear-gradient(to right, #66ffff 0%, #ff99ff 100%);
  }
  
			  