body, html {
    height: 100%;
      font-family:  "Helvetica Neue", monospace;color: white;
    font-size: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("../static/img/tlo-logowanie.jpg");
  
    /* Add the blur effect */
    filter: blur(0px);
    -webkit-filter: blur(0px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
      line-height: 2em;
  }
  
  .btnn button{
      	background: linear-gradient(to right, #00ffff 0%, #ff66ff 100%);
      	width: 20%;
      	padding: 15px;
      	display: block;
      	margin: 25px auto 25px auto;
      	border-radius: 20px;
      	border: none;
      	font-family: 'Raleway', sans-serif;
      	font-size: 20px;
      	font-weight: 600;
      	color: white;
      
  }
  
  .btnn button:hover{
      box-shadow: 0 0 20px 0 #ff66ff;
      	background: linear-gradient(to right, #66ffff 0%, #ff99ff 100%);
  }
  
  a {
      color: #006699;
      text-decoration: none;
  }
  
  a:hover{
      color: mediumblue;
      box-shadow: 0 0 20px 0 #ff66ff;
      background: linear-gradient(to right, #66ffff 0%, #ff99ff 100%);
  }